* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: "Ex manrope";
    src: url(./fonts/Manrope-ExtraBold.ttf);
}

@font-face {
    font-family: "Se manrope";
    src: url(./fonts/Manrope-SemiBold.ttf);
}

:root {
    --heading: #293356;
    --paragraph: #848EAD;
    --btn-text: #BECDFF;
    --light-green: #10D8C4;
    --dark-green: #24AEA1;
    --discount: #FF8D68;
}

/* typography */

/* extra bold header */
.container__header > h1,
.main__pageViews > span,
.main__click-btn,
.billing__discount {
    font-family: "Ex manrope";
}

.container__header > h1 {
    font-size: 1.25rem;
    line-height: 27.32px;
    color: var(--heading);
}

.main__pageViews > span {
    color: var(--paragraph);
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 1.71px;
}

.billing__discount {
    font-size: 0.625rem;
    color: var(--discount);
}

.main__click-btn {
    color: var(--btn-text);
    font-size: 0.75rem;
    line-height: 1.024rem;
}

/* semibold paragraph */
.header__p,
.main__price-tag > span,
.main__billing > span,
ul > li  {
    font-family: "Se manrope";
    color: var(--paragraph);

}

.header__p {
    font-size: 0.8125rem;
    line-height: 1.44rem;
}

.main__price-tag > span {
    font-size: 0.875rem;
}

/* monthly billing */
.main__billing > span,
ul > li {
    font-size: 0.75rem;
}



.container {
    width: 80%;
    max-width: 700px;
    min-width: 375px;
    height: 50rem;
    background-size: 1040px 400px;
    background-image: url(./images/bg-pattern.svg);
    background-repeat: no-repeat;
    padding: 0em 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header */
.container__header {
    height: 9.1rem;
    width: 100%;
    margin-top: 3.56rem;
    background-image: url(./images/pattern-circles.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container__main {
    margin-top: 2rem;
    background-color: #FFFFFF;
    height: 30rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.125rem 0rem;
}

/* SLIDER AREA */
.main__slider {
    margin-top: 1.56rem;
    width: 80%;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 5px; /* Specified height */
    outline: none; /* Remove outline */
    background: #ddd; /* Grey background */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 0.9; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: url(./images/icon-slider.svg) no-repeat center; 
    background-color: var(--light-green);
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 2.5rem; /* Set a specific slider handle width */
  height: 2.5rem; /* Slider handle height */
  border: 1.5px solid #979797;
  border-radius: 50%;
  background: url(./images/icon-slider.svg) no-repeat center; 
  background-color: var(--light-green);
  cursor: pointer; /* Cursor on hover */
}


.slider::-moz-range-progress {
    background: var(--dark-green);
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
